

.contact {
    text-align: center;
    padding-bottom: 2em;
    h2 {
        color: #0073CF;
      }
      button {
        color: #fff;
        background-color: #0073CF;
        border: none;
        border-radius: 4px;
        padding: .5em 1.5em .5em 1.5em;
        font-size: 12px;
        font-family: 'Quicksand';
        cursor: pointer;
      }
      img {
        position: absolute;
        top: 218%;
        left: 81%;
        @include transform(translate(-50%, -50%));
        width: 50px;
      }
  }
  
  footer {
    background-color: #0073CF;
    color: #fff;
    img {
        float: left;
        margin-right: 26.2em;
      }
      ul {
        float: right;
        margin-top: 2em;
        padding-right: 5em;
      }
      li {
        margin-right: 3em;
      }
      li:hover {
        color: #C2DEF0;
        cursor: default;
      }
      #summary {
        font-size: 13px;
        margin-left: 17.3em;
      }
      #tag {
        float: right;
        margin-right: 10em;
      }
  }